@font-face {
  font-family: "ubuntubold";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-bold-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntubold_italic";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-bolditalic-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-bolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntuitalic";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-italic-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntulight";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-light-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntulight_italic";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-lightitalic-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-lightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntumedium";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-medium-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntumedium_italic";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-mediumitalic-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-mediumitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubunturegular";
  src: url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-regular-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/sabicalija/webdev-public/master/assets/fonts/ubuntu/ubuntu-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
